i[class*='icon-'] {
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

$tabIcons: home0, home1, record0, record1, games, dynamic0, dynamic1, funds0,
    funds1;
@each $item in $tabIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/tab/#{$item}.png');
    }
}

/* stylelint-disable */
$otherIcons: news, scan, down, up, arrow, arrow2, arrowBlack, call, kaigong,
    reserveWithdrawal, horn, empty;
/* stylelint-enable */
@each $item in $otherIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/other/#{$item}.png');
    }
}

$userCenterIcons: back, copy, vip, authorizer, password, setting, notify;
@each $item in $userCenterIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/userCenter/#{$item}.png');
    }
}

/* stylelint-disable */
$navIcons: transfer, codeOut, withdrawal, receiptCode, reserveRecord, scanCode,
    activity, exchangeRate, serviceCenter, agentNetwork, CS, more;
/* stylelint-enable */
@each $item in $navIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/nav/#{$item}.png');
    }
}

/* stylelint-disable */
$currencyIcons: BTC, CNY, ETH, HKD, KRW, PHP, TRB;
/* stylelint-enable */
@each $item in $currencyIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/currency/#{$item}.png');
    }
}

/* stylelint-disable */
$formIcons: radio0, radio1, close, close0, close1, lock0, lock1, see, see0, see1,
    unsee, unsee0, unsee1, user0, user1, code0, code1, selectArrow;
/* stylelint-enable */
@each $item in $formIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/form/#{$item}.png');
    }
}

$moreIcons: more0-0, more0-1, more0-2, more0-3, more0-4, more1-0, more1-1,
    more2-0, more2-1, more3-0, more3-1;
@each $item in $moreIcons {
    .icon-#{$item} {
        background-image: url('../../images/icon/more/#{$item}.png');
    }
}

.home-top-bg {
    background: url('../../images/home/top-bg.png') no-repeat center 127px/100%;
}

.page-bg {
    background: url('../../images/home/page-bg.png') no-repeat center/100%;
}

.user-banner {
    background: url('../../images/userCenter/user-banner.png') no-repeat
        center/100%;
}

.notify-bg {
    background: url('../../images/userCenter/notify-bg.png') no-repeat
        center/100%;
}

.guide-zh {
    background: url('../../images/login/guide-zh.png') no-repeat center/100%;
}

.guide-en {
    background: url('../../images/login/guide-en.png') no-repeat center/100%;
}

.guide-ko {
    background: url('../../images/login/guide-ko.png') no-repeat center/100%;
}

.login-top {
    background: url('../../images/login/login-top.png') no-repeat center/100%;
}

.image-error {
    background: url('../../images/common/image-error.png') no-repeat center/100%;
}

.authorizer-bg {
    background: url('../../images/userCenter/authorizer.png') no-repeat
        center/100%;
}
